@tailwind base;

/* purgecss start ignore */

@tailwind components;

.inputField {
    @apply px-3 py-1 rounded-md bg-gray-200 hover:bg-theme-lighter focus:bg-theme-lighter focus:outline-none;
}

.sectionHeader {
    @apply justify-center items-center bg-gray-100 w-full px-5 py-5 space-y-4 rounded-lg;
}

.bodyText {
    @apply text-lg mb-8 font-medium text-gray-500;
}

.bodyTextSmall {
    @apply mb-8 font-medium text-gray-500;
}

.bodyTitle {
    @apply text-xl font-semibold mb-6 pt-4;
}

.bodyTextTutorial {
    @apply text-base font-medium mb-8 leading-relaxed text-gray-500;
}

.textLink {
    @apply text-theme hover:text-theme-medium cursor-pointer;
}

@tailwind utilities;

input.percentValue[type="number"]::-webkit-inner-spin-button,
input.percentValue[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}

/* purgecss end ignore */
